<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Grid</title>
     <script defer src="script.js"></script>
     <link rel="stylesheet" href="style.css">


</head>

<body>
     <nav>
          <div><a href="index.html">Stay At Home</a></div>
          <div><a href="">Alone Mom</a></div>
     </nav>
     <aside class="flex-ctr">
          <div class="container">

               <!-- Tamogathchi Home -->
               
                    <!-- =========== CAROUSEL TOP ============== -->
                    <!-- <img src="images/carousel.png" alt=""> -->
                    <h1>CORGI CAROUSEL!</h1>
                    <!-- =========== CAROUSEL CONTAINER ======== -->
                    <div class="carousel-container">
                         <!-- previous button -->
                         <div class="carousel-button prev">
                              <!-- from linearicons icon font -->
                              <span class="lnr lnr-chevron-left"></span>
                         </div>
                         <!-- images -->
                         <div class="carousel-images">
                              <img src="images/one.jpeg" alt="corgi looking cute" class="image">
                              <img src="images/two.jpeg"  alt="corgi ehcute" class="image">
                              <img src="images/three.jpeg" alt="corgi in goggles" class="image">
                              <img src="images/four.jpeg" alt="corgi in a boat" class="image">
                              <button id="select-image">Select</button>
                         </div>
                         
                         
                         <!-- next button -->
                         <div class="carousel-button next">
                              <!-- from linearicons icon font -->
                              <span class="lnr lnr-chevron-right"></span>
                         </div>
               
                    </div>
          </div>
     </aside>
     <main>
          <button class="modal-buttons" id="openModal">About the Game</button>
          <div id="modal">
               <div id="modal-textbox">
                    <h1>Learn to Play Bridge</h1>
                    <div class="egg"></div>

                    <!-- <p>
                     After the play of each deal is completed, the opportunity to deal moves around
                    the table clockwise so that each person has a turn to deal out the cards.
                    </p> -->
                    <div id="modal-footer">
                         <button class="modal-buttons" id="close">Let's Get Moving</button>
                    </div>
               </div>
          </div>
          <!-- <button class="egg-modal-buttons" id="openEggModal">About My Egg</button>
          <div id="egg-modal">
               <div id="egg-modal-section">
                    
                    <section id="Tamagotchi-home" class="none">
                         <div class="egg"></div></section>  
                    <div id="egg-modal-footer">
                         <button class="egg-modal-buttons" id="closeEggModal">Let's Get Moving</button>
                    </div>
               </div>
          </div> -->


















          
          <div id="barbie">
          </div>
          <div class="button-container">
               <button id="biscuit">Have a Bite of Biscuit</button>
               <button id="red-bottoms">Buy Red Bottoms</button>
               <button id="work">Get Paid</button>
               <button id="rental">Invest in a rental</button>
          </div>
</main>
     <footer class="flex-ctr">Footer</footer>
</body>
</html>